<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>The Movie DB</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page-home">
  <h3 class="title" padding>Estrenos</h3>

  <ion-row *ngIf="discovers" responsive-sm>
    <ion-col col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 *ngFor="let discover of discovers.results">
      <ion-card>
        <img [src]="imageURL + discover.poster_path"/>
        <ion-card-content>
          <h2>
            {{discover.title}}
          </h2>
          <!--<p>
            {{discover.overview}}
          </p>-->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
