#page-home {
  .title{
    color: white;
  }

  ion-card{
    background-color: $black-thin;

    h2{
      max-height: 2.4em;
      line-height: 1.2em;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      color: white;
    }
    .image{
      max-height: 240px;
      img{
        min-height: 240px;
        object-fit: cover;
      }
    }

    .no-image{
      min-height: 240px;
      background-color: black;
    }
  }

}
